<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>CHESS GAME!!</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Modify this section START -->
        <table>
        {% for row in ui.board %}
            <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>


        <form action="/play" method="get">
            <label for="moves"> {{ui.inputlabel}}</label>
            <input type="text" name="moves"><br><br>
            <input type="submit" value={{ui.btnlabel}}>
        </form>
        <p>We’ll have some code here to insert error messages, if any. Stay tuned.</p>
        <!-- Modify this section END -->
    </body>
</html>
