<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>CHESS GAME!!</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Modify this section START -->
        <table class="center">
        {% for row in ui.board %}
            <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>


        <form action="/play" method="get" class="form">
            <label for="moves" class="label"> {{ui.inputlabel}}</label>
            <input type="text" name="moves" class="label"><br><br>
            <input type="submit" class="button" value={{ui.btnlabel}}>
        </form>
        <!-- Modify this section END -->
    </body>
</html>
