<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!-- Change your page title -->
	<title>Chess Game</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<!-- Modify this section START -->
	<img src="{{ url_for('static', filename='chess game splash image.jpeg' ) }}"; width="100%" />
        <p>
            <a href="/newgame">
                <button>Start new game</button>
            </a>
        </p>
        <!-- Modify this section END -->
    </body>
</html>